# Build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Fetched dependencies
_deps/

# macOS
.DS_Store
**/.DS_Store

# IDE
.vscode/
.idea/

# Binaries/libs/objs
*.o
*.obj
*.a
*.lib
*.dll
*.so
*.dylib
*.exe
*.app
*.out